@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
}
#root {
  font-size: 22px;
}
/* body::-webkit-scrollbar {
  width: 0px;
  height: 0px; 
} */
.swiper-pagination-bullet {
  @apply bg-violet-900; /* Стилизация цвета фона пагинации */
  @apply w-2;
  @apply h-2;
}

/* Индикатор пагинации - Цвет при активном элементе */
.swiper-pagination-bullet-active {
  @apply bg-violet-900; /* Стилизация активного цвета фона */
  @apply w-3; /* Стилизация активного цвета фона */
  @apply h-3; /* Стилизация активного цвета фона */
}
